
ul{
    list-style: none;
    display: flex;
    justify-content: center;   
}
ul li{
    font-size: 30px;
    margin: 20px;
    color: blueviolet;
    
}
a{
    text-decoration: none;
}
.logo{
    height:100px;
    width: 100px;
    margin:auto;
    text-align: left;
}
.header{
    background-image: url(./images/mental.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.mission{
    margin: auto;
    color: blueviolet;
    font-size:20px ;
    text-align: center;
}

.about-us
{
    color: blueviolet;
    font-size: 20px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-us:hover{
    background-color: aliceblue; 

}
.rows{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-size: 50px;
    text-align: center;
    color: blueviolet;
    text-transform: uppercase;
}
h2{
    color: blueviolet;
    font-size: 20px;

}
.classify{
    text-align: center;
    color: blueviolet;
}
.button{
    border-radius: 30px;
    background-color: blueviolet;
    border: 1px solid white;
    padding: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;

}
button:hover{
    background-color: aliceblue;
    border-radius: 30px;
    color: blueviolet;
    border: solid blueviolet; 
}
li:hover{
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}
.image{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.testimonial{
    text-align: center;
}
.submit{
    border-radius: 20px;
    background-color: blueviolet;
    border: 1px solid white;
    padding: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    justify-content: center;
}
form{
    color: blueviolet;
    border: 10px blueviolet;
}

